/* :focus {
	outline: -webkit-focus-ring-color auto 1px;
} */

body {
	/* background: darkgrey; */
	/* background: linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 70%, rgba(0,0,0,0) 100%); */
	/* background: linear-gradient(to bottom, rgba(180,180,180,0.3) 0%, rgba(180,180,180,0.1) 70%, rgba(180,180,180,0) 100%); */
	min-width: 830px;
	/* background: linear-gradient(to bottom right, blue, pink); */
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body, div, video {
	outline: none;
}
/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: whitesmoke;
} */
.box-sizing-border-box {
	box-sizing: border-box;
}

.oneline {
	display: flex;
	align-items: center;
	/* align-items: baseline; */
	width: 100%;
}

.left-container {
	/* float: left; */
	display: inline-block;
}
.right-container {
	/* float: right; */
	margin: 0 0 0 auto;
}

.tabs {
	border-right: 1px solid red;
}
.flex-grow-1 {
	display: flex;
	flex-grow: 1;
}

.width100prc {
	width: 100%;
}
.height100prc {
	height: 100%;
}
.width100px {
	width: 100px;
}
.width150px {
	width: 150px;
}
.width200px {
	width: 200px;
}
.height60px {
	height: 60px;
}
.height65px {
	height: 65px;
}
.height100px {
	height: 100px;
}

.padding-6px {
	padding: 6px;
}
.padding-12px {
	padding: 12px;
}
.padding-left-6px {
	padding-left: 6px;
}
.padding-left-12px {
	padding-left: 12px;
}
.padding-left-32px {
	padding-left: 32px;
}
.padding-right-12px {
	padding-right: 12px;
}
.padding-top-6px {
	padding-top: 6px;
}
.padding-top-12px {
	padding-top: 12px;
}
.padding-left-16px {
	padding-left: 16px;
}
.padding-bottom-6px {
	padding-bottom: 6px;
}
.padding-bottom-12px {
	padding-bottom: 12px;
}


.icon {
	color: rgba(255, 255, 255, 0.54)
}
.titleBar-bottom {
	background: linear-gradient(to top, rgba(150,150,150,0.7) 0%, rgba(150,150,150,0.3) 70%, rgba(150,150,150,0) 100%)
}
.titleBar-top {
	background: linear-gradient(to bottom, rgba(150,150,150,0.7) 0%, rgba(150,150,150,0.3) 70%, rgba(150,150,150,0) 100%)
}
.video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    /* z-index: -100; */
    background-size: cover;
    overflow: hidden;
}

.video-block {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: inline-block;
}

.video-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.grid-tile {
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}
.grid-tile-bar {
	left: 0;
	right: 0;
	height: 48px;
	display: flex;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	top: 0;
	background: linear-gradient(to bottom, rgba(150,150,150,0.7) 0%, rgba(150,150,150,0.3) 70%, rgba(150,150,150,0) 100%)
}

.grid-tile-bar-title {
	font-size: 1rem;
	line-height: 24px;
	display: flex;
}
.grid-tile-bar-title-cut-text {
	width: 0px;
	flex-grow: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.grid-tile-bar-subtitle {
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.background-gray {
	background: gray;
}
.background-darkgrey {
	background: darkgrey;
}
.background-whitesmoke {
	background: whitesmoke;
}
.min-height-100vh {
	min-height: 100vh;
}
.width-110px {
	width: 110px;
}


.kiosk-item-image {
	/* width: 100%;
	height: 100%; */
	/* position: static;
	left: 0;
	top: 0; */
	filter: blur(10px);
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.top-0 {
	top: 0;
}
.left-0 {
	left: 0;
}
.display-none {
	display: none;
}

.transform-rotate-180deg {
	transform: rotate(-180deg);
}


.video00 {
	/* height: 100vh;
	width: 90%;
	/* object-fit: fill; */
	/* object-fit: cover; */
	/* use "cover" to avoid distortion */
	/* position: absolute; */

	
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.min-width-200px {
	min-width: 200px;
}



.loader-default-height {
	height: 200px;
}
.loader-vertical-center {
	transform: translateY(-50%);
	top: 50%;
	position: relative;
	min-height: 65px;
}

/* Выравнивание элемента по центру */
.centered-container {
	margin: auto;
}
.text-align-center {
	text-align: center;
}
.width40px {
	width: 40px;
}


.vertical-center {
	/* position: absolute; */
	/* left: calc(50% - 20px);
	top: calc(50% - 20px); */
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.height-100vh {
	height: 100vh;
}
.width-100vw {
	width: 100vw;
}
.height-min-100vh {
	min-height: 100vh;
}
.width-min-100vw {
	min-width: 100vw;
}

.background-image-bottom-gray {
	background-image: linear-gradient(to bottom, rgba(100,100,100,0.05) 0%, rgba(100,100,100,0.02) 30%, rgba(100,100,100,0) 100%) !important;
}
.background-image-top-gray {
	background-image: linear-gradient(to top, rgba(100,100,100,0.05) 0%, rgba(100,100,100,0.02) 30%, rgba(100,100,100,0) 100%) !important;
}
.width-560px {
	width: 560px;
}
.kiosk-title-sticky {
	top: 0px;
	left: auto;
	right: 0;
	position: sticky;
	z-index: 1100;
}
.kiosk-item-group-sticky {
	top: 67px;
	left: auto;
	right: 0;
	position: sticky;
	z-index: 1099;
}


.fontSize-large {
	font-size: 2.1875rem;
}
.fontSize-default {
	font-size: 1.5rem;
}
.fontSize-small {
	font-size: 1.25rem;
}


.stepper {
	display: flex;
	/* padding: 8px; */
	/* background: #fafafa; */
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.stepper-cut-text {
	width: 0px;
	flex-grow: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.file-item-description-carousel {
	display: flex;
	align-items: center;
}

.file-item-container-carousel-group-height {
	height: calc(100vh - 229px) !important;
	margin-bottom: -4px;
}
.file-item-container-carousel-nogroup-height {
	height: calc(100vh - 169px);
	margin-bottom: -4px;
}
.oneline-baseline {
	display: flex;
	align-items: baseline;
	flex-direction: row;
	justify-content: space-between;
}
.border-radius-3px {
	border-radius: 3px;
}

.white-space-nowrap {
	white-space: nowrap;
}

.align-items-baseline {
	align-items: baseline;
}
.padding-right-12px-important {
	padding-right: 12px !important;
}
.background-color-gray-opacity {
	background-color: #5555 !important;;
}
.background-color-red {
	background-color: red !important;
}
.background-color-pink {
	background-color: pink !important;
}
.background-color-green {
	background-color: green !important;
}
.background-color-lightgreen {
	background-color: lightgreen !important;
}
.font-bold-larger {
	font-weight: bold;
	font-size: larger;;
}
.bange {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 16px;
	font-weight: bold;
	color: lightgreen;
}
.width-100-percent {
	width: 100%;
}
.opacity-30-percent {
	opacity: 0.3;
}
.display-block {
	display: block;
}
.font-style-italic {
	font-style: italic;
}
.slider-container {
	padding-left: 30px;
	padding-right: 30px;
}